rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /capacity_tracker/{docId} {
      allow read, write: if docId in ['team_mazzy', 'team_kimyatta', 'team_lindsay', 'teams_registry'];
    }
  }
}
