@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  opacity: 0.75;
  transition: opacity 0.15s ease-in-out;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
